<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" media="screen" title="no title">
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
  </head>
  <body>
  <h1>User:</h1>
  <p>{{session['name']}}</p>
  <p>{{session['location']}}</p>
  <p>{{session['language']}}</p>
  <p>{{session['comment']}}</p>
  <a href="/"><button type="button" name="button">Home</button></a>

  </body>
</html>
